.drag{
    min-height: 80px;
    max-height: 440px;
    overflow-y: auto;
    flex-direction: column;
    padding-right: 10px;
    gap: 10px;
}
.dragBottom{
    display: flex;
    justify-content: start;
    align-items: center;
}
.dragTop{
    display: flex;
    justify-content: start;
    align-items: center;
}
.dragItem{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}
.borderOn{
    border: 2px solid #8585AD;
}
.borderOff{
    border: none;
}
.constructorElement{
    width: 100% !important;
}
.dragItem:first-child{
    margin-top: 0;
}
.dragIcon{
    width: 24px;
    height: 24px;
    padding-right: 5px;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #2F2F37;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    border-radius: 20px;
}