.cursor{
    cursor: pointer;
}
.profilePage{
    padding-top: 100px;
    margin: 0 auto;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: start;
    color: #8585AD;
}
.margin{
    margin-top: 20px;
}
.form{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profileInner{
    width: 30%;
}
.profileOrders{
    width: 70%;
}