.container {
    width: 70%;
    margin: 0 auto;
}
.header{
    width: 100%;
    padding: 10px 0;
    background: #1C1C21;
    box-sizing: border-box;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}
.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.width33{
    width: 33%;
}
.nav{
    display: flex;
}
.nav__item{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.your__profile{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8585AD;
}
.your__profile__active{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

